body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  .dark-mode {
    background-color: black;
    color: white;
  }

  header{
      background-color: #333;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
  }

  div.menu a{
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px;
      text-decoration: none;
  }

  div.menu a:hover{
      background-color: #777;
  }

  h1,h2,h3{
      color: blue;
      margin-left: auto;
      margin-right: auto;
  }
  p{
      text-align: justify;
      font-size: 25px;
      margin-left: auto;
      margin-right: auto;
  }
  
  div.darkbutton{
      padding-left: 80%;
      padding-right: 10px;
      padding-top: 20px;      
  }

  .buttondark{
    border-radius: 16px;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    margin: 4px 2px;
    width: 180px;
    text-align: center;
    text-decoration: none;
  }
  
  img.imgbluepen{
    border-radius: 100%;
    border: 5px solid blue;
  }
  
  div.bluepen{
      padding: 30px;
      border-radius: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 50%;
      height: auto;
                    
  }
  img.git{
      vertical-align: middle;
      width: 150px;
      height: auto;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
  }

  .blackout{
      border: 1px solid #ccc;
      width: 100%;
      height: auto;      
  }

  .blackout:hover{
      border: 1px solid #777;
  }
  
